.ilan{width:100%;}
.selected{width: 16.66%;float:left;}
.txt{width:95%;height:20px;background-color:#e7e7e7;outline:none;border:none;padding-left:15px; color:#3f3f3f;height:32px}
.btn{width:150px;height:35px;background-color:#64bfc4;outline:none;border:none;color:white;}